#btnNuevo{
  background-color: #274742;
  border-color: inherit;
}

thead{
  font-size: 80%;
}

#btnEdicion{
  background-color: #71918B;
  border-color: inherit;
}

#btnEliminar{
  background-color: #8A261D;
  border-color: inherit;
}

#btnVer{
  background-color: #3C963B;
  border-color: inherit;
}

#btnNuevoS{
  background-color: #274742;
  border-color: inherit;
}

#btnNuevoC{
  background-color: #274742;
  border-color: inherit;
}
